.about-us {
    width: 100%;
    height: 87vh;
}

.about-us-container{
    width: 95%;
    margin: auto;
}

.about-us-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15%;
    row-gap: 15px;
}

/* Responsive */

@media screen and (max-width:800px) {
    .about-us-flex {
        flex-direction: column;
    }
}

