.header {
    width: 100%;
    top: 0;
    left: 0;
    background-color: #1a1a1e;
    box-shadow: 0 0 8px var(--text-color);
    animation: headerAni 1s linear 1;
    margin-bottom: 2%;
}

@keyframes headerAni {
    0% {
        top: -20%;
    }
}

.header-container {
    width: 90%;
    margin: auto;
    position: relative;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header-flex .logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-flex .logo h2 {
    letter-spacing: 1px;
}

.header-flex .logo h2 span {
    color: var(--text-color);
}

#resume-icon {
    width: 35px;
    height: 35px;
}

.header-flex .nav-bar {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-flex .nav-bar #link-style {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}

.header-flex .nav-bar #link-style p {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 0;
    text-align: center;
}

.header-flex .nav-bar #link-style p:hover {
    color: var(--hover-color);
    transition: .5s;
}

/* Responsive */

@media screen and (max-width:800px) {
    .header-flex .nav-bar #link-style {
        display: none;
    }
}