.humb-menu-background {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.541);
    position: fixed;
    top: 0;
    display: flex;
}

.humburger-menu {
    height: 100vh;
    background-color: #15161a;
    animation: humbMenuAni .3s linear 1;
    border-left: 2px solid var(--text-color);
    position: relative;
}

@keyframes humbMenuAni {
    0% {
        width: 0;
    }
}

.humb-menu-image {
    width: 100%;
    height: 230px;
    background-image: url('C:\Users\danya\Desktop\Programs\React\resume-app\public\images/1101230.jpg');
    background-size: cover;
    margin-bottom: 2%;
}

.humburger-menu-container {
    width: 90%;
    margin: auto;
    padding: 4% 0;
}

.humburger-menu-flex {
    display: flex;
    flex-direction: column;
    row-gap: 1px;
    animation: menuAni 0.4s linear 1;
}

@keyframes menuAni {
    0% {
        transform: translate(300px, 0);
    }
}

#nav-link-style {
    display: flex;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    gap: 15px;
    padding: 14px 5px;
}

#nav-link-style:hover{
    color: var(--text-color);
    transition: .6s;
}


.nav-link2 {
    background-color: rgba(0, 0, 0, 0.295);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: var(--hover-color);
}

.nav-link3 {
    color: white;
}

#close-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    top: 1%;
    right: 2%;
    z-index: 4;
}

#close-icon:hover {
    transition: .3s;
    color: var(--text-color);
}

#icons-style {
    width: 22px;
    height: 22px;
}

.for-close {
    width: 25%;
    height: 100vh;
    background-color: white;
    opacity: 0;
}

/* Responsive */

@media screen and (max-width:800px) {
    .humburger-menu {
        width: 50%;
    }

    .for-close {
        width: 50%;
    }
}

@media screen and (max-width:700px) {
    .humburger-menu {
        width: 60%;
    }

    .for-close{
        width: 40%;
    }
}

@media screen and (max-width:550px) {
    .humburger-menu {
        width: 75%;
    }
}

@media screen and (max-width:450px) {
    .humburger-menu {
        width: 75%;
    }

    .humb-menu-image {
        height: 200px;
    }

    .for-close{
        width: 25%;
    }

}